.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, #ffffff, #eaeae9);
  margin-bottom: 5.5px;
}

.app-name {
  color: #0a512f;
  font-size: 25px;
  font-weight: bold;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.btn-container {
  display: flex;
  color: #0a512fb2;
}

.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #0a512fb2;
  font-size: 20px;
  cursor: pointer;
}

.notifi-count {
  color: red;
  font-size: 12px;
  position: relative;
  left: -9px;
  top: -8px;
}

.select-btn {
  font-size: 14px;
  font-weight: bold;
  border: none;
  color: #0a512fb2;
  background-color: transparent;
  width: 70px;
  cursor: pointer;
}
